.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}
.pt-3,
.py-3 {
  padding-top: 1rem !important;
}
.ex-cards-1 .card .list-unstyled .media-body {
  margin-left: 0.75rem;
}
.media-body {
  -ms-flex: 1;
  flex: 1;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}
.media {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
}
.ex-cards-1 .card .list-unstyled .media-body h5 {
  color: white;
}
