<!-- Navigation -->
<nav
  class="navbar navbar-expand-lg fixed-top navbar-dark"
  [ngClass]="isNavbarFixed ? 'top-nav-collapse' : ''"
  (scroll)="onScroll()"
>
  <div class="container">
    <!-- Text Logo - Use this if you don't have a graphic logo -->
    <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Revo</a> -->

    <!-- Image Logo -->
    <a class="navbar-brand logo-image" href=""
      ><img src="../../../assets/images/logo.png" alt="alternative"
    /></a>

    <button
      class="navbar-toggler hidden-sm-up"
      type="button"
      (click)="isNavbarCollapsed = !isNavbarCollapsed"
      data-target="#navbarsDefault"
      aria-controls="navbarsDefault"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- <button
      class="navbar-toggler p-0 border-0"
      type="button"
      data-toggle="offcanvas"
    >
      <span class="navbar-toggler-icon"></span>
    </button> -->

    <div
      [ngbCollapse]="isNavbarCollapsed"
      class="navbar-collapse offcanvas-collapse"
      id="navbarsDefault"
      #navigationLinks
    >
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a
            class="nav-link page-scroll"
            [ngClass]="activeSectionId === 'header' ? 'active' : ''"
            href="#header"
            >HOME <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link page-scroll"
            [ngClass]="activeSectionId === 'registration' ? 'active' : ''"
            href="#registration"
            >TRIAL</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link page-scroll"
            [class.active]="activeSectionId === 'features'"
            href="#features"
            >FEATURES</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link page-scroll" href="#details">DETAILS</a>
        </li>
        <li class="nav-item dropdown" ngbDropdown>
          <a
            class="nav-link dropdown-toggle"
            id="id01"
            href="#"
            ngbDropdownToggle
            >DROP</a
          >
          <div class="dropdown-menu" aria-labelledby="id01" ngbDropdownMenu>
            <a class="dropdown-item" href="/article">ARTICLE DETAILS</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/terms">TERMS CONDITIONS</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/privacy">PRIVACY POLICY</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link page-scroll" href="#purchase">PURCHASE</a>
        </li>
      </ul>
      <span class="nav-item social-icons">
        <span class="fa-stack">
          <a href="#your-link">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-facebook-f fa-stack-1x"></i>
          </a>
        </span>
        <span class="fa-stack">
          <a href="#your-link">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-twitter fa-stack-1x"></i>
          </a>
        </span>
      </span>
    </div>
    <!-- end of navbar-collapse -->
  </div>
  <!-- end of container -->
</nav>
<!-- end of navbar -->
<!-- end of navigation -->
