<app-navbar></app-navbar>

<!-- Header -->
<header id="header" class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- Text Slider -->

        <ng-template ngbSlide>
          <div class="swiper-slide">
            <div class="row">
              <div class="col-lg-6 col-xl-7">
                <div class="image-container">
                  <img
                    class="img-fluid"
                    src="../../../assets/images/header-slide-1.jpg"
                    alt="alternative"
                  />
                </div>
                <!-- end of image-container -->
              </div>
              <div class="col-lg-6 col-xl-5">
                <div class="text-container">
                  <h1 class="h1-large">digital angency</h1>
                  <p class="p-large">
                    We Help You Creating Mobile App, Web App And Get Website On
                    Top Google Search. Leave Technical Issue With Us And Focus
                    On Your Core Business.
                  </p>
                </div>
              </div>
              <!-- end of col -->

              <!-- end of col -->
            </div>
            <!-- end of row -->
          </div>
        </ng-template>
        <ng-template ngbSlide> </ng-template>

        <ng-template ngbSlide> </ng-template>

        <!-- end of slider-container -->
        <!-- end of text slider -->
      </div>
      <div class="swiper-slide">
        <div class="row">
          <div class="col-lg-6 col-xl-7">
            <div class="image-container">
              <img
                class="img-fluid"
                src="../../../assets/images/rocket-7757105_640.png"
                alt="alternative"
              />
            </div>

            <br />
            <!-- end of image-container -->
          </div>
          <!-- end of col -->

          <!-- end of col -->
        </div>
        <!-- end of row -->
      </div>
      <!-- end of col -->
    </div>
    <!-- end of row -->
    <div class="row">
      <div class="col-lg-12">
        <div class="partner-container">
          <p class="p-small">Featured in</p>
          <img
            class="img-fluid"
            src="../../../assets/images/partner-logo-1.png"
            alt="alternative"
          />
          <img
            class="img-fluid"
            src="../../../assets/images/partner-logo-2.png"
            alt="alternative"
          />
          <img
            class="img-fluid"
            src="../../../assets/images/partner-logo-3.png"
            alt="alternative"
          />
          <img
            class="img-fluid"
            src="../../../assets/images/partner-logo-4.png"
            alt="alternative"
          />
          <img
            class="img-fluid"
            src="../../../assets/images/partner-logo-5.png"
            alt="alternative"
          />
        </div>
        <!-- end of partner-container -->
      </div>
      <!-- end of col -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container -->
</header>
<!-- end of header -->

<!-- Registration -->
<div id="registration" class="form-1 bg-dark-blue">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="text-container">
          <h2>Your dream made a reality, on any platformss</h2>
        </div>
        <div class="image-container">
          <img
            class="img-fluid"
            src="../../../assets/images/background.png"
            alt="alternative"
          />
        </div>
        <!-- end of text-container -->
      </div>
      <!-- end of col -->
      <div class="col-lg-6">
        <!-- Registration Form -->
        <!-- <form id="registrationForm">
          <div class="form-group">
            <input type="text" class="form-control-input" id="rname" required />
            <label class="label-control" for="rname">Name</label>
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control-input"
              id="roccupation"
              required
            />
            <label class="label-control" for="roccupation">Occupation</label>
          </div>
          <div class="form-group">
            <input
              type="email"
              class="form-control-input"
              id="remail"
              required
            />
            <label class="label-control" for="remail">Email</label>
          </div>
          <div class="form-group checkbox">
            <input
              type="checkbox"
              id="rterms"
              value="Agreed-to-Terms"
              required
            />I agree with the website's
            <a href="privacy.html">Privacy Policy</a> and
            <a href="terms.html">Terms & Conditions</a>
          </div>
          <div class="form-group">
            <button type="submit" class="form-control-submit-button">
              SIGN UP
            </button>
          </div>
        </form> -->
        <!-- end of registration form -->
      </div>
      <!-- end of col -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container -->
</div>
<!-- end of form-1 -->
<!-- end of registration -->

<!-- Features -->
<div id="features" class="cards-1 bg-dark-blue">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="h2-heading">Services</h2>
        <p class="p-heading">
          We Help You Creating Mobile App, Web App And Get Website On Top Google
          Search. Leave Technical Issue With Us And Focus On Your Core Business.
        </p>
      </div>
      <!-- end of div -->
    </div>
    <!-- end of row -->
    <div class="row">
      <div class="col-lg-12">
        <!-- Card -->
        <div class="card">
          <div class="card-image">
            <i class="fas fa-rocket"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title">Mobile Apps</h5>
            <ul class="services">
              <li>Android App Development</li>

              <li>iOS App Development</li>

              <li>App Publishing</li>

              <li>App Upgrade</li>
              <li>App Testing</li>
            </ul>
          </div>
        </div>
        <!-- end of card -->

        <!-- Card -->
        <div class="card">
          <div class="card-image">
            <i class="fas fa-tv"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title">Web Apps</h5>
            <ul class="services">
              <li>Website & Blog Creation</li>

              <li>Wordpress Website</li>

              <li>Ecommerce Application</li>

              <li>Product Development</li>
              <li>Enterprise Application</li>
            </ul>
          </div>
        </div>
        <!-- end of card -->

        <!-- Card -->
        <div class="card">
          <div class="card-image">
            <i class="fas fa-user-tag"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title">Digital Marketing</h5>
            <ul class="services">
              <li>SEO</li>

              <li>SMM</li>

              <li>Pay Per Click</li>

              <li>Content Marketing</li>
              <li>Email Marketing</li>
            </ul>
          </div>
        </div>
        <!-- end of card -->
        <!-- Card -->
        <div class="card">
          <div class="card-image">
            <i class="fas fa-envelope"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title">Email & Hosting</h5>
            <ul class="services">
              <li>Domain Registration</li>

              <li>Web Hosting Management</li>

              <li>Cloud Solutions</li>

              <li>Email Provider</li>
            </ul>
          </div>
        </div>
        <!-- end of card -->
      </div>
      <!-- end of col -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container -->
</div>
<!-- end of cards-1 -->
<!-- end of features -->

<!-- Details 1 -->
<div id="details" class="basic-1 bg-dark-blue">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-xl-7">
        <div class="image-container">
          <img
            class="img-fluid"
            src="../../../assets/images/details-1.jpg"
            alt="alternative"
          />
        </div>
        <!-- end of image-container -->
      </div>
      <!-- end of col -->
      <div class="col-lg-6 col-xl-5">
        <div class="text-container">
          <h2>What We Do.</h2>
          <!-- <p>
            We Help You Creating Mobile App, Web App And Get Website On Top
            Google Search. Leave Technical Issue With Us And Focus On Your Core
            Business.
          </p> -->
          <p>
            We, at Npro Technologies, serve to facilitate businesses to grow
            mutually higher with customers. We focus on three core factors:
            website, apps, brand promotion. We understand the means of
            establishing websites and mobile applications via our expertise.
            What makes us stand out from the crowd? We possess technologically
            advanced IT solutions given by creative and experienced
            professionals.
          </p>
          <!-- <ul class="list-unstyled li-space-lg">
            <li class="media">
              <i class="fas fa-square"></i>
              <div class="media-body">
                <strong>Use a single app</strong> to get from sketch to actual
                code
              </div>
            </li>
            <li class="media">
              <i class="fas fa-square"></i>
              <div class="media-body">
                <strong>Bundled templates</strong> to help you get inspired
                faster
              </div>
            </li>
          </ul> -->
          <a class="btn-solid-reg popup-with-move-anim" href="#details-lightbox"
            >Get a Proposal
          </a>
        </div>
        <!-- end of text-container -->
      </div>
      <!-- end of col -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container -->
</div>
<!-- end of basic-1 -->
<!-- end of details 1 -->

<!-- Details 2 -->

<!-- Video -->

<!-- end of basic-2 -->

<!-- end of video -->

<!-- Testimonials -->

<!-- end of slider-1 -->
<!-- end of testimonials -->

<!-- Purchase -->

<!-- end of basic-3 -->
<!-- end of purchase -->

<!-- Resources -->

<!-- end of basic-4 -->
<!-- end of resources -->

<app-footer></app-footer>
