<app-navbar></app-navbar>

<!-- Header -->
<header id="header" class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- Text Slider -->
        <ngb-carousel *ngIf="images">
          <ng-template ngbSlide>
            <div class="swiper-slide">
              <div class="row">
                <div class="col-lg-6 col-xl-7">
                  <div class="image-container">
                    <img
                      class="img-fluid"
                      src="../../../assets/images/header-slide-1.jpg"
                      alt="alternative"
                    />
                  </div>
                  <!-- end of image-container -->
                </div>
                <!-- end of col -->
                <div class="col-lg-6 col-xl-5">
                  <div class="text-container">
                    <h1 class="h1-large">Desktop App Landing Page</h1>
                    <p class="p-large">
                      The first desktop app for web designers. Create beautiful
                      websites with minimum HTML/CSS
                    </p>
                    <a class="btn-solid-lg page-scroll" href="#registration"
                      >FREE TRIAL</a
                    >
                    <a class="btn-outline-lg page-scroll" href="#features"
                      >DISCOVER</a
                    >
                  </div>
                  <!-- end of text-container -->
                </div>
                <!-- end of col -->
              </div>
              <!-- end of row -->
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="swiper-slide">
              <div class="row">
                <div class="col-lg-6 col-xl-7">
                  <div class="image-container">
                    <img
                      class="img-fluid"
                      src="../../../assets/images/header-slide-1.jpg"
                      alt="alternative"
                    />
                  </div>
                  <!-- end of image-container -->
                </div>
                <!-- end of col -->
                <div class="col-lg-6 col-xl-5">
                  <div class="text-container">
                    <h1 class="h1-large">Desktop App Landing Page</h1>
                    <p class="p-large">
                      The first desktop app for web designers. Create beautiful
                      websites with minimum HTML/CSS
                    </p>
                    <a class="btn-solid-lg page-scroll" href="#registration"
                      >FREE TRIAL</a
                    >
                    <a class="btn-outline-lg page-scroll" href="#features"
                      >DISCOVER</a
                    >
                  </div>
                  <!-- end of text-container -->
                </div>
                <!-- end of col -->
              </div>
              <!-- end of row -->
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="swiper-slide">
              <div class="row">
                <div class="col-lg-6 col-xl-7">
                  <div class="image-container">
                    <img
                      class="img-fluid"
                      src="../../../assets/images/header-slide-1.jpg"
                      alt="alternative"
                    />
                  </div>
                  <!-- end of image-container -->
                </div>
                <!-- end of col -->
                <div class="col-lg-6 col-xl-5">
                  <div class="text-container">
                    <h1 class="h1-large">Desktop App Landing Page</h1>
                    <p class="p-large">
                      The first desktop app for web designers. Create beautiful
                      websites with minimum HTML/CSS
                    </p>
                    <a class="btn-solid-lg page-scroll" href="#registration"
                      >FREE TRIAL</a
                    >
                    <a class="btn-outline-lg page-scroll" href="#features"
                      >DISCOVER</a
                    >
                  </div>
                  <!-- end of text-container -->
                </div>
                <!-- end of col -->
              </div>
              <!-- end of row -->
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="swiper-slide">
              <div class="row">
                <div class="col-lg-6 col-xl-7">
                  <div class="image-container">
                    <img
                      class="img-fluid"
                      src="../../../assets/images/header-slide-1.jpg"
                      alt="alternative"
                    />
                  </div>
                  <!-- end of image-container -->
                </div>
                <!-- end of col -->
                <div class="col-lg-6 col-xl-5">
                  <div class="text-container">
                    <h1 class="h1-large">Desktop App Landing Page</h1>
                    <p class="p-large">
                      The first desktop app for web designers. Create beautiful
                      websites with minimum HTML/CSS
                    </p>
                    <a class="btn-solid-lg page-scroll" href="#registration"
                      >FREE TRIAL</a
                    >
                    <a class="btn-outline-lg page-scroll" href="#features"
                      >DISCOVER</a
                    >
                  </div>
                  <!-- end of text-container -->
                </div>
                <!-- end of col -->
              </div>
              <!-- end of row -->
            </div>
          </ng-template>
        </ngb-carousel>
        <!-- end of slider-container -->
        <!-- end of text slider -->
      </div>
      <!-- end of col -->
    </div>
    <!-- end of row -->
    <div class="row">
      <div class="col-lg-12">
        <div class="partner-container">
          <p class="p-small">Featured in</p>
          <img
            class="img-fluid"
            src="../../../assets/images/partner-logo-1.png"
            alt="alternative"
          />
          <img
            class="img-fluid"
            src="../../../assets/images/partner-logo-2.png"
            alt="alternative"
          />
          <img
            class="img-fluid"
            src="../../../assets/images/partner-logo-3.png"
            alt="alternative"
          />
          <img
            class="img-fluid"
            src="../../../assets/images/partner-logo-4.png"
            alt="alternative"
          />
          <img
            class="img-fluid"
            src="../../../assets/images/partner-logo-5.png"
            alt="alternative"
          />
        </div>
        <!-- end of partner-container -->
      </div>
      <!-- end of col -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container -->
</header>
<!-- end of header -->

<div></div>
