<app-navbar></app-navbar>

<!-- Header -->
<header id="header" class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- Text Slider -->
        <ngb-carousel *ngIf="images">
          <ng-template ngbSlide>
            <div class="swiper-slide">
              <div class="row">
                <div class="col-lg-6 col-xl-7">
                  <div class="image-container">
                    <img
                      class="img-fluid"
                      src="../../../assets/images/header-slide-1.jpg"
                      alt="alternative"
                    />
                  </div>
                  <!-- end of image-container -->
                </div>
                <!-- end of col -->
                <div class="col-lg-6 col-xl-5">
                  <div class="text-container">
                    <h1 class="h1-large">DIGITAL AGENCY</h1>
                    <p class="p-large">Get Your Business On Digital World</p>
                    <p>
                      We Help You Creating Mobile App, Web App And Get Website
                      On Top Google Search. Leave Technical Issue With Us And
                      Focus On Your Core Business.
                    </p>
                    <a class="btn-solid-lg page-scroll" href="#registration"
                      >FREE TRIAL</a
                    >
                    <a class="btn-outline-lg page-scroll" href="#features"
                      >DISCOVER</a
                    >
                  </div>
                  <!-- end of text-container -->
                </div>
                <!-- end of col -->
              </div>
              <!-- end of row -->
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="swiper-slide">
              <div class="row">
                <div class="col-lg-6 col-xl-7">
                  <div class="image-container">
                    <img
                      class="img-fluid"
                      src="../../../assets/images/header-slide-1.jpg"
                      alt="alternative"
                    />
                  </div>
                  <!-- end of image-container -->
                </div>
                <!-- end of col -->
                <div class="col-lg-6 col-xl-5">
                  <div class="text-container">
                    <h1 class="h1-large">Desktop App Landing Page</h1>
                    <p class="p-large">
                      The first desktop app for web designers. Create beautiful
                      websites with minimum HTML/CSS
                    </p>
                    <a class="btn-solid-lg page-scroll" href="#registration"
                      >FREE TRIAL</a
                    >
                    <a class="btn-outline-lg page-scroll" href="#features"
                      >DISCOVER</a
                    >
                  </div>
                  <!-- end of text-container -->
                </div>
                <!-- end of col -->
              </div>
              <!-- end of row -->
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="swiper-slide">
              <div class="row">
                <div class="col-lg-6 col-xl-7">
                  <div class="image-container">
                    <img
                      class="img-fluid"
                      src="../../../assets/images/header-slide-1.jpg"
                      alt="alternative"
                    />
                  </div>
                  <!-- end of image-container -->
                </div>
                <!-- end of col -->
                <div class="col-lg-6 col-xl-5">
                  <div class="text-container">
                    <h1 class="h1-large">Desktop App Landing Page</h1>
                    <p class="p-large">
                      The first desktop app for web designers. Create beautiful
                      websites with minimum HTML/CSS
                    </p>
                    <a class="btn-solid-lg page-scroll" href="#registration"
                      >FREE TRIAL</a
                    >
                    <a class="btn-outline-lg page-scroll" href="#features"
                      >DISCOVER</a
                    >
                  </div>
                  <!-- end of text-container -->
                </div>
                <!-- end of col -->
              </div>
              <!-- end of row -->
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="swiper-slide">
              <div class="row">
                <div class="col-lg-6 col-xl-7">
                  <div class="image-container">
                    <img
                      class="img-fluid"
                      src="../../../assets/images/header-slide-1.jpg"
                      alt="alternative"
                    />
                  </div>
                  <!-- end of image-container -->
                </div>
                <!-- end of col -->
                <div class="col-lg-6 col-xl-5">
                  <div class="text-container">
                    <h1 class="h1-large">Desktop App Landing Page</h1>
                    <p class="p-large">
                      The first desktop app for web designers. Create beautiful
                      websites with minimum HTML/CSS
                    </p>
                    <a class="btn-solid-lg page-scroll" href="#registration"
                      >FREE TRIAL</a
                    >
                    <a class="btn-outline-lg page-scroll" href="#features"
                      >DISCOVER</a
                    >
                  </div>
                  <!-- end of text-container -->
                </div>
                <!-- end of col -->
              </div>
              <!-- end of row -->
            </div>
          </ng-template>
        </ngb-carousel>
        <!-- end of slider-container -->
        <!-- end of text slider -->
      </div>
      <!-- end of col -->
    </div>
    <!-- end of row -->
    <div class="row">
      <div class="col-lg-12">
        <div class="partner-container">
          <p class="p-small">Featured in</p>
          <img
            class="img-fluid"
            src="../../../assets/images/partner-logo-1.png"
            alt="alternative"
          />
          <img
            class="img-fluid"
            src="../../../assets/images/partner-logo-2.png"
            alt="alternative"
          />
          <img
            class="img-fluid"
            src="../../../assets/images/partner-logo-3.png"
            alt="alternative"
          />
          <img
            class="img-fluid"
            src="../../../assets/images/partner-logo-4.png"
            alt="alternative"
          />
          <img
            class="img-fluid"
            src="../../../assets/images/partner-logo-5.png"
            alt="alternative"
          />
        </div>
        <!-- end of partner-container -->
      </div>
      <!-- end of col -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container -->
</header>
<!-- end of header -->

<!-- Registration -->
<div id="registration" class="form-1 bg-dark-blue">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="text-container">
          <h2>Register For The Free Trial</h2>
          <p>
            You are just a few clicks away from using the first desktop app
            dedicated to web designers and developers. Fill out the form to get
            the 30-day trial and you will receive the download link
          </p>
          <ul class="list-unstyled li-space-lg">
            <li class="media">
              <i class="fas fa-square"></i>
              <div class="media-body">
                <strong>Prototype easier</strong> using intuitive features and
                design tools
              </div>
            </li>
            <li class="media">
              <i class="fas fa-square"></i>
              <div class="media-body">
                <strong>Design layouts</strong> with faster with efficient
                components
              </div>
            </li>
            <li class="media">
              <i class="fas fa-square"></i>
              <div class="media-body">
                <strong>Export to code</strong> and effortlessly upload your
                projects online
              </div>
            </li>
          </ul>
        </div>
        <!-- end of text-container -->
      </div>
      <!-- end of col -->
      <div class="col-lg-6">
        <!-- Registration Form -->
        <form id="registrationForm">
          <div class="form-group">
            <input type="text" class="form-control-input" id="rname" required />
            <label class="label-control" for="rname">Name</label>
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control-input"
              id="roccupation"
              required
            />
            <label class="label-control" for="roccupation">Occupation</label>
          </div>
          <div class="form-group">
            <input
              type="email"
              class="form-control-input"
              id="remail"
              required
            />
            <label class="label-control" for="remail">Email</label>
          </div>
          <div class="form-group checkbox">
            <input
              type="checkbox"
              id="rterms"
              value="Agreed-to-Terms"
              required
            />I agree with the website's
            <a href="privacy.html">Privacy Policy</a> and
            <a href="terms.html">Terms & Conditions</a>
          </div>
          <div class="form-group">
            <button type="submit" class="form-control-submit-button">
              SIGN UP
            </button>
          </div>
        </form>
        <!-- end of registration form -->
      </div>
      <!-- end of col -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container -->
</div>
<!-- end of form-1 -->
<!-- end of registration -->

<!-- Features -->
<div id="features" class="cards-1 bg-dark-blue">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="h2-heading">Npros's Services</h2>
        <p class="p-heading">
          We Help You Creating Mobile App, Web App And Get Website On Top Google
          Search. Leave Technical Issue With Us And Focus On Your Core Business.
        </p>
      </div>
      <!-- end of div -->
    </div>
    <!-- end of row -->
    <div class="row">
      <div class="col-lg-12">
        <!-- Card -->
        <div class="card">
          <div class="card-image">
            <i class="fas fa-rocket"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title">Mobile Apps</h5>
            <ul class="services">
              <li>Android App Development</li>

              <li>iOS App Development</li>

              <li>App Publishing</li>

              <li>App Upgrade</li>
              <li>App Testing</li>
            </ul>
          </div>
        </div>
        <!-- end of card -->

        <!-- Card -->
        <div class="card">
          <div class="card-image">
            <i class="fas fa-tv"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title">Web Apps</h5>
            <ul class="services">
              <li>Website & Blog Creation</li>

              <li>Wordpress Website</li>

              <li>Ecommerce Application</li>

              <li>Product Development</li>
              <li>Enterprise Application</li>
            </ul>
          </div>
        </div>
        <!-- end of card -->

        <!-- Card -->
        <div class="card">
          <div class="card-image">
            <i class="fas fa-user-tag"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title">Digital Marketing</h5>
            <ul class="services">
              <li>SEO</li>

              <li>SMM</li>

              <li>Pay Per Click</li>

              <li>Content Marketing</li>
              <li>Email Marketing</li>
            </ul>
          </div>
        </div>
        <!-- end of card -->
        <!-- Card -->
        <div class="card">
          <div class="card-image">
            <i class="fas fa-envelope"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title">Email & Hosting</h5>
            <ul class="services">
              <li>Domain Registration</li>

              <li>Web Hosting Management</li>

              <li>Cloud Solutions</li>

              <li>Email Provider</li>
            </ul>
          </div>
        </div>
        <!-- end of card -->
      </div>
      <!-- end of col -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container -->
</div>
<!-- end of cards-1 -->
<!-- end of features -->

<!-- Details 1 -->
<div id="details" class="basic-1 bg-dark-blue">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-xl-7">
        <div class="image-container">
          <img
            class="img-fluid"
            src="../../../assets/images/details-1.jpg"
            alt="alternative"
          />
        </div>
        <!-- end of image-container -->
      </div>
      <!-- end of col -->
      <div class="col-lg-6 col-xl-5">
        <div class="text-container">
          <h2>What We Do.</h2>
          <!-- <p>
            We Help You Creating Mobile App, Web App And Get Website On Top
            Google Search. Leave Technical Issue With Us And Focus On Your Core
            Business.
          </p> -->
          <p>
            We, at Npro Technologies, serve to facilitate businesses to grow
            mutually higher with customers. We focus on three core factors:
            website, apps, brand promotion. We understand the means of
            establishing websites and mobile applications via our expertise.
            What makes us stand out from the crowd? We possess technologically
            advanced IT solutions given by creative and experienced
            professionals.
          </p>
          <!-- <ul class="list-unstyled li-space-lg">
            <li class="media">
              <i class="fas fa-square"></i>
              <div class="media-body">
                <strong>Use a single app</strong> to get from sketch to actual
                code
              </div>
            </li>
            <li class="media">
              <i class="fas fa-square"></i>
              <div class="media-body">
                <strong>Bundled templates</strong> to help you get inspired
                faster
              </div>
            </li>
          </ul> -->
          <a class="btn-solid-reg popup-with-move-anim" href="#details-lightbox"
            >Get a Quote</a
          >
        </div>
        <!-- end of text-container -->
      </div>
      <!-- end of col -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container -->
</div>
<!-- end of basic-1 -->
<!-- end of details 1 -->

<!-- Details 2 -->

<div class="tabs">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-xl-5">
        <ul
          class="nav nav-tabs"
          id="revoTabs"
          ngbNav
          #nav="ngbNav"
          [(activeId)]="active"
        >
          <li class="nav-item" [ngbNavItem]="1">
            <a
              ngbNavLink
              class="nav-link"
              id="nav-tab-1"
              data-toggle="tab"
              href="#tab-1"
              role="tab"
              aria-controls="tab-1"
              aria-selected="true"
              >PROTOTYPE</a
            >
            <!-- <button ngbNavLink>PROTOTYPE</button> -->
            <ng-template ngbNavContent>
              <p>
                <strong>Our goal is to empower</strong> web designers and
                developers reach their full potential and help them get their
                designs from layouts to code in the shortest amount of time.
              </p>
              <p>
                <strong>Design and layouts</strong> are the main focus of our
                apps but we also work on export-to-code functionalities.
              </p>
              <ul class="list-unstyled li-space-lg">
                <li class="media">
                  <i class="fas fa-square"></i>
                  <div class="media-body">
                    It's a fun and captivating endeavour that we love
                  </div>
                </li>
                <li class="media">
                  <i class="fas fa-square"></i>
                  <div class="media-body">
                    We're passionate about our work and it shows
                  </div>
                </li>
              </ul>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <button ngbNavLink>DESIGN</button>
            <ng-template ngbNavContent>
              <ul class="list-unstyled li-space-lg">
                <li class="media">
                  <div class="media-bullet">1.</div>
                  <div class="media-body">
                    <strong>Speed</strong> is important for our users so we
                    invest a lot of time and resources to make everything work
                    faster
                  </div>
                </li>
                <li class="media">
                  <div class="media-bullet">2.</div>
                  <div class="media-body">
                    <strong>Reliability</strong> is what we're focused on
                    achieving besides speed because we want our app to work all
                    the time
                  </div>
                </li>
                <li class="media">
                  <div class="media-bullet">3.</div>
                  <div class="media-body">
                    <strong>Standards</strong> are another factor that we take
                    into consideration when developing our tools
                  </div>
                </li>
                <li class="media">
                  <div class="media-bullet">4.</div>
                  <div class="media-body">
                    <strong>Performance</strong> is a key factor for our desktop
                    apps
                  </div>
                </li>
              </ul>
            </ng-template>
          </li>
          <li [ngbNavItem]="3">
            <button ngbNavLink>EXPORT</button>
            <ng-template ngbNavContent>
              <p>
                <strong>Our goal is to empower</strong> web designers and
                developers reach their full potential and help them get their
                designs from layouts to code in the shortest amount of time.
              </p>
              <p>
                <strong>Design and layouts</strong> are the main focus of our
                apps but we also work on export-to-code functionalities.
              </p>
              <ul class="list-unstyled li-space-lg">
                <li class="media">
                  <i class="fas fa-square"></i>
                  <div class="media-body">
                    It's a fun and captivating endeavour that we love
                  </div>
                </li>
                <li class="media">
                  <i class="fas fa-square"></i>
                  <div class="media-body">
                    We're passionate about our work and it shows
                  </div>
                </li>
              </ul>
            </ng-template>
          </li>
        </ul>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
      <div class="col-lg-6 col-xl-7">
        <div class="image-container">
          <img
            class="img-fluid"
            src="../../../assets/images/details-2.jpg"
            alt="alternative"
          />
        </div>
        <!-- end of image-container -->
      </div>
      <!-- end of col -->
    </div>
  </div>
</div>
<!-- Video -->
<div class="basic-2 bg-dark-blue">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="h2-heading">Video Presentation</h2>
        <p class="p-heading">
          Check out our video presentation for Revo desktop app. It will take
          you through an entire design project from the initial sketch to the
          final code
        </p>

        <!-- Video Preview -->
        <div class="image-container">
          <div class="video-wrapper">
            <img
              class="img-fluid"
              src="../../../assets/images/video-preview.jpg"
              alt="alternative"
            />
            <span
              class="video-play-button"
              (click)="openVerticallyCentered(content)"
            >
              <span></span>
            </span>
          </div>
          <!-- end of video-wrapper -->
        </div>
        <!-- end of image-container -->
        <!-- end of video preview -->
      </div>
      <!-- end of col -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container -->
</div>
<!-- end of basic-2 -->

<ng-template #content let-modal>
  <div class="modal-body">
    <button
      type="button"
      class="btn-close f-right"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
    <div>
      <iframe
        id="Geeks3"
        width="450"
        height="350"
        src="https://www.youtube.com/embed/V5he1JXiQbg"
        frameborder="0"
        allowfullscreen
      >
      </iframe>
    </div>
  </div>
  <!-- <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.close('Close click')"
    >
      Close
    </button>
  </div> -->
</ng-template>
<!-- end of video -->

<!-- Testimonials -->
<div class="slider-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ngb-carousel>
          <ng-template ngbSlide>
            <div class="row">
              <div class="card col-lg-4">
                <img
                  class="card-image"
                  src="../../../assets/images/testimonial-2.jpg"
                  alt="alternative"
                />
                <div class="card-body">
                  <p class="testimonial-text">
                    I don't know how I managed to get work done without Revo.
                    The speed of this application is amazing!
                  </p>
                  <p class="testimonial-author">Roy Smith - Developer</p>
                </div>
              </div>
              <div class="card col-lg-4">
                <img
                  class="card-image"
                  src="../../../assets/images/testimonial-2.jpg"
                  alt="alternative"
                />
                <div class="card-body">
                  <p class="testimonial-text">
                    I don't know how I managed to get work done without Revo.
                    The speed of this application is amazing!
                  </p>
                  <p class="testimonial-author">Roy Smith - Developer</p>
                </div>
              </div>
              <div class="card col-lg-4">
                <img
                  class="card-image"
                  src="../../../assets/images/testimonial-2.jpg"
                  alt="alternative"
                />
                <div class="card-body">
                  <p class="testimonial-text">
                    I don't know how I managed to get work done without Revo.
                    The speed of this application is amazing!
                  </p>
                  <p class="testimonial-author">Roy Smith - Developer</p>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <!-- Slide -->
            <div class="swiper-slide">
              <div class="card col-lg-4">
                <img
                  class="card-image"
                  src="../../../assets/images/testimonial-6.jpg"
                  alt="alternative"
                />
                <div class="card-body">
                  <p class="testimonial-text">
                    Who would have thought that Revo can provide such amazing
                    results in just a few weeks of normal basic use
                  </p>
                  <p class="testimonial-author">Ann Black - Developer</p>
                </div>
              </div>
            </div>
            <!-- end of swiper-slide -->
            <!-- end of slide -->
          </ng-template>
        </ngb-carousel>
      </div>
      <!-- end of col -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container -->
</div>
<!-- end of slider-1 -->
<!-- end of testimonials -->

<!-- Purchase -->
<div id="purchase" class="basic-3 bg-dark-blue">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="h2-heading">Get Revo And Start Designing</h2>
        <p class="p-heading p-large">
          The first desktop app for web designers and developers which helps
          them get their ideas from initial sketch to finalized code easier.
          Revo brings to the table cutting-edge technologies to help you get
          projects online faster.
        </p>
        <a class="btn-solid-lg" href="#">$89 BUY</a>
        <a class="btn-outline-lg page-scroll" href="#registration"
          >FREE TRIAL</a
        >
      </div>
      <!-- end of col -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container -->
</div>
<!-- end of basic-3 -->
<!-- end of purchase -->

<!-- Resources -->
<div class="basic-4 bg-dark-blue">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="resource-container">
          <img
            class="img-fluid"
            src="../../../assets/images/resources-1.jpg"
            alt="alternative"
          />
          <div class="text-container">
            <h4>User Showcases</h4>
            <p>
              Check out these awesome customer showcases to convince you to give
              Revo and try right away
            </p>
          </div>
          <!-- end of text-container -->
        </div>
        <!-- end of resource-container -->
        <div class="resource-container">
          <img
            class="img-fluid"
            src="../../../assets/images/resources-2.jpg"
            alt="alternative"
          />
          <div class="text-container">
            <h4>Knowledge Center</h4>
            <p>
              We've gathered some great resources to help you learn how to use
              Revo and overcome issues
            </p>
          </div>
          <!-- end of text-container -->
        </div>
        <!-- end of resource-container -->
      </div>
      <!-- end of col -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container -->
</div>
<!-- end of basic-4 -->
<!-- end of resources -->

<app-footer></app-footer>
